from distutils.core import setup


def read(filename):
    return [req.strip() for req in open(filename).readlines()]


setup(
    name="{{project_name}}",
    version="0.1.0",
    py_modules=["{{project_module}}"],
    author="{{author}}",
    author_email="{{author_email}}",
    url="{{author}}",
    description="my super dupper project {{project_name}}",
    include_package_data=True,
    install_requires=read("requirements.txt"),
    extras_require={
        "development": read("requirements-dev.txt")
    }

)
